.view-blog-card{
    padding-block: 112px;
}
.blog-cards{
    width: 100%;
}
.comment{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    max-width: 600px;
}
.gost-btn{
    margin-block: 2rem;
}

.line-bottom{
    padding-bottom: 1rem;
    border-bottom: solid 2px var(--dark-mode-border-color);
}
.comment-form{
    max-width: 600px;
    margin-inline-start: 1rem;
}
.blog-description{
    opacity: .67;
    display: flex;
    align-items: center;
    gap: .5rem;
    display:unset;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;  
    overflow: unset;
}
.comment-form{
    padding-block: 24px;
}
.delete-comment {
    display: flex;
  justify-content: center;
  padding: .5rem 1rem;
  margin-top: 1rem;
  background-color: transparent;
  border-radius: 2px;
  border: solid 1px rgba(254, 70, 70, 0.518);
  color: rgba(254, 70, 70, 0.518);

}
@media screen and (max-width: 1100px) {
  
    .blog-cards{
        width: 100% !important;
        max-width: unset;
    }
}